QMainWindow, 
QAbstractItemView,  
QTreeView::branch, 
QStackWidget,
QTabBar::tab{
        color: #EAEAEA;
        background: rgb(37, 37, 37);
}

QAbstractItemView::item:selected {
        color: #EAEAEA;
        background-color: rgb(63,63,70);
        border:none;
}

/* ScrollBar style */
QScrollBar {
     border: none;
     background: rgb(62,62,62);
     height: 6px;
     width: 12px;
     margin: 0px;
}
QScrollBar::handle{
     background: rgb(104, 104, 104);
     min-width: 10px;
     min-height: 10px;
}
QScrollBar::handle:hover{
     background: rgb(158, 158, 158);
}
QScrollBar::handle:hover:pressed{
     background: rgb(239, 239, 239);
}
QScrollBar::add-line,  QScrollBar::sub-line {
     background: none;
     border: none;
}
QScrollBar::add-page, QScrollBar::sub-page {
     background: none;
}

QTreeView::branch:closed:adjoins-item:has-children {
     background:  solid #777777;
     margin: 6px;
     height: 6px;
     width: 6px;
}

QTabBar::tab:selected {
     font: bold;
     border-color: #9B9B9B;
     border-bottom-color: #C2C7CB;
 }

QTabBar::tab:!selected {
     margin-top: 2px;
 }

QHeaderView::section {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #616161, stop: 0.5 #505050,
                                       stop: 0.6 #434343, stop:1 #656565);
     color: white;
     padding-left: 4px;
     border: 1px solid #6c6c6c;
}

QToolBar {
     border-style: solid;
     border-style: outset;
     color: #EAEAEA;
     background: #333333;
     font-size: 9pt;
}

/* The code editor background */
QPlainTextEdit {
  background-color: rgb(30,30,30); 
}

QObject[windowTitle="File System"] QWidget 
{
    color: #EAEAEA;
}

/* search result panel */
QObject[windowTitle="Search Results"] QWidget
{
    color: #FFFFFF;
    background: rgb(30, 30, 30);
}

QWidget[windowTitle="Compile Output"],
QWidget[windowTitle="Version Control"],
QWidget[windowTitle="QML/JS Console"]
{
    color: #EAEAEA;
    background: rgb(30, 30, 30);
}

QTextEdit {
    background: rgb(50, 50, 50);
    color: #FFFFFF
}
QLineEdit {
    background: rgb(50, 50, 50);
    color: #FFFFFF
}

QPushButton {  
    color:white;
    border-radius:1px;
    background-color:rgb(37, 37, 37);
}  

QPushButton:pressed {  
    background-color:rgb(60, 60, 60);
}
QPushButton:checked {  
    background-color:rgb(0,0,0);
}
QComboBox{
    color:white;
    background: rgb(50, 50, 50);
}

QMenuBar{
    color:white;
    background: rgb(50, 50, 50);
}

QLabel{
    color:white;
    background: rgb(50, 50, 50);
}


QStatusBar{
    color:white;
    background: rgb(50, 50, 50);
}
QCheckBox{
    color:white;
    background: rgb(50, 50, 50);
}
