QWidget{
    color:#EAEAEA;
    background: #2C2C2C;
}

/* ScrollBar style begin*/
QScrollBar {
     border: none;
     background: rgb(62,62,62);
     height: 6px;
     width: 12px;
     margin: 0px;
}
QScrollBar::handle{
     background: rgb(104, 104, 104);
     min-width: 10px;
     min-height: 10px;
}
QScrollBar::handle:hover{
     background: rgb(158, 158, 158);
}
QScrollBar::handle:hover:pressed{
     background: rgb(239, 239, 239);
}
QScrollBar::add-line,  QScrollBar::sub-line {
     background: none;
     border: none;
}
QScrollBar::add-page, QScrollBar::sub-page {
     background: none;
}
/* ScrollBar style end*/


/* PushButton style begin */
QPushButton {
    border-radius:1px;
    margin:1px;
    background-color:#2A2A2A;
}  

QPushButton:pressed {  
    background-color:#252525;
}
QPushButton:checked {  
    background-color:#202020;
}
/* PushButton style end */

QLineEdit:focus{
    color: #FFFFFF;
}

QLineEdit:!focus{
    color: #AAAAAA;
}

/* QTabBar style begin */
QTabWidget{
    border:none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

QTabWidget::pane {
    border-top: 1px solid #1F1F1F;
}

QTabWidget::tab-bar {
    left: 110px;
    background: #3C3F41;
}


QTabBar::tab{
    min-width: 8ex;
    padding-top: 3px;
}

QTabBar::tab:!selected {
    color: #888888;
    border: 1px solid #262626;
    border-bottom-width:0px;
}

QTabBar::tab:selected {
    color: #FFFFFF;
    background: #282828;
    border: 1px solid #1F1F1F;
    border-bottom-color: #4A7A88;
    border-bottom-width:5px;
}
/* QTabBar style end */
